<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
</head>
<body class="bg-black text-white">
<% if (!user) { %>
    <p>sign in to access</p>
<% } %>
    <%- include('./nav') %>
    <p>I am Kumar Bhattarai and I am a web developer.</p>
    <p>I am passionate about coding and I love to learn new things.</p>
    <p>I am currently learning Node.js and Express.js.</p>
    <p>I am also learning how to use EJS to render views in Express.js.</p>
    <p>I am excited to build web applications using the MERN stack.</p>
    <p>Thank you for visiting my website.</p>
    <p>Feel free to contact me if you have any questions.</p>
    <p>Email:eureshbhattarai666@gmail.com
        
</body>
</html>